.side_anchorpane {
    -fx-background-color: #081B39;
    -fx-border-color: #081B39;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}